<app-github-followers></app-github-followers>
<!-- <app-posts></app-posts> -->
<!-- <app-change-password-input></app-change-password-input> -->
<!-- <app-new-course-form></app-new-course-form> -->
<!-- <signup-form></signup-form> -->
<!-- <app-udemy-form></app-udemy-form> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <input type="text" [appInputFile]="'uppercase'"  />
<app-like [likesCount]="tweet.likesCount" [isToggle]="tweet.isLiked"></app-like>
<favorite [is-favorite]="isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<courses></courses>

<input type="text" [(ngModel)]="title" name="title" (ngModelChange)="onChange(title)" /> <br />
{{ title | titleCase }}

<zippy title="Name">
    Romeo Enso
</zippy>
<zippy title="Shipping Details">
    Shipping Details Content
</zippy> -->